<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9gu7A7zq33GcTw27VidsqWstQy_MbjJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>693419658455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>om.phonetracker.gpslocation.phonelocation.dev</string>
	<key>PROJECT_ID</key>
	<string>phone-tracker-86ff0</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-tracker-86ff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693419658455:ios:b9dfa40f423c104ae7b492</string>
</dict>
</plist>